@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 210 25% 96.1%;
    --foreground: 210 29.4% 24.5%;
    --card: 0 0% 100%;
    --card-foreground: 210 29.4% 24.5%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29.4% 24.5%;
    --primary: 210 29.4% 24.5%;
    --primary-foreground: 210 25% 98%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 210 29.4% 24.5%;
    --muted: 210 20% 90%;
    --muted-foreground: 210 20% 45%;
    --accent: 188 28.3% 53.9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 88%;
    --input: 210 15% 88%;
    --ring: 188 28.3% 53.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 29.4% 10%;
    --foreground: 210 25% 96.1%;
    --card: 210 29.4% 15%;
    --card-foreground: 210 25% 96.1%;
    --popover: 210 29.4% 10%;
    --popover-foreground: 210 25% 96.1%;
    --primary: 210 25% 96.1%;
    --primary-foreground: 210 29.4% 10%;
    --secondary: 210 20% 20%;
    --secondary-foreground: 210 25% 96.1%;
    --muted: 210 20% 20%;
    --muted-foreground: 210 20% 65%;
    --accent: 188 28.3% 53.9%;
    --accent-foreground: 210 29.4% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 25%;
    --input: 210 20% 25%;
    --ring: 188 28.3% 53.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.is-visible {
    opacity: 1;
    transform: translateY(0);
}
